/*generico*/
body{background:#F5F5F5;color:#333;font-family:Verdana, Geneva, sans-serif;font-size:13px;margin:0;padding:0}
a,a:hover{color:#15c;text-decoration:none}
input[type="text"], input[type="password"]{border:1px solid #d5d5d5;padding:5px 3px}
input[type="submit"], input[type="reset"]{height:35px;font-weight:bold;padding:5px 10px;border-radius:2px}

.boton_azul{background:#4d90fe;color:#f5f5f5;border:1px solid #3079ed;}
.boton_azul:hover, .boton_azul:focus{background:#357ae8;color:#fff;border:1px solid #2f5bb7}
.input_error{border:1px solid #d14836!important}
.clear{clear:both}
/*index.html*/
#cargando{width:100%;position:fixed;text-align:center;top:4px;z-index:10}
#cargando span{font-size:12px;font-weight:bold;background:#f9edbe;border-left:1px solid #efe1ac;border-right:1px solid #efe1ac;border-bottom:1px solid #efe1ac;border-radius:0 0 5px 5px;padding:5px 10px}
#contenido{width:1020px;overflow:auto;margin:auto}
#espacio{height:30px}
#footer{width:100%;min-width:800px;height:30px;position:fixed;bottom:0;left:0;background:#e5e5e5;border-top:1px solid #d5d5d5}
#footer div{padding:6px}
#footer a{color:#383838}
#footer a:hover{color:#a5a5a5}
#error{font-size:12px;font-weight:bold;position:fixed;bottom:0;right:0;background:#f9edbe;border-left:1px solid #efe1ac;border-top:1px solid #efe1ac;border-radius:5px 0 0 0;padding:5px 10px;z-index:3}
/*login.html*/
.login{text-align:left;background:#e5e5e5;border:1px solid #d5d5d5;border-radius:2px;width:330px;margin:100px auto 10px;padding:0}
.login form{padding:25px}
.login form div{padding:5px}
.login form div div{padding:1px}
.login form .header{padding-bottom:10px;font-size:15px;font-weight:bold;text-align:center;cursor:pointer}
.login form .recordar{text-align:justify;}
.login form input[type="text"], input[type="password"]{width:240px;padding:5px 10px}