body {font-family:Arial, Helvetica, sans-serif;}

#header  {display:none;}	
#respuesta {display:none;}
#imprimir {display:none;}
.pie {display:none;}

#cuerpo {border:1px solid #FFF; background:#FFF; border:0px; width:15.59cm; height:21.94cm; margin:3.5cm 2.5cm 3cm 3cm; font-size:16px;}
#hoja {border:1px solid #FFF; width:21.59cm; height:27.94cm;}




