/*Generico*/
body{background:#FFF;color:#333;font-family:Verdana, Geneva, sans-serif;font-size:13px;margin:0;padding:0}
a,a:hover{color:#15c;text-decoration:none;cursor:pointer}

#cargando{width:100%;position:fixed;text-align:center;top:4px;z-index:10}
#cargando span{font-size:12px;font-weight:bold;background:#f9edbe;border-left:1px solid #efe1ac;border-right:1px solid #efe1ac;border-bottom:1px solid #efe1ac;border-radius:0 0 5px 5px;padding:5px 10px}

#header{width:100%;height:80px;min-width:800px;position:relative;background:#fff;border-bottom:1px solid #e5e5e5;margin:auto;padding:10px 0;font-weight:bold}
#corprodinco{font-size:24px;width:800px;height:70px;margin:-90px auto 0;top:0;position:relative;font-size:24px;font-weight:bold;text-align:center;padding:10px 0;}
#corprodinco div{float:left}

label{font-weight:bold;color:#383838}
input[type="text"], input[type="password"]{border:1px solid #d5d5d5;padding:3px 5px;color:#000}
input[type="submit"], input[type="reset"], input[type="button"]{height:32px;font-weight:bold;padding:6px;border-radius:2px;cursor:pointer}
input:focus, select:focus, textarea:focus{background:#FFFFF0;border:1px solid #efe1ac}
input:hover, select:hover, textarea:hover{border:1px solid #efe1ac}
input[readonly], select[readonly] ,textarea[readonly], input[disabled], select[disabled] ,textarea[disabled]{background:#F5F5F5;border:1px solid #e5e5e5}
select{border:1px solid #d5d5d5;padding:2px;color:#000}
textarea{border:1px solid #d5d5d5;width:97%;height:70px;padding:3px 5px;resize:none;color:#000}
.input_error{border:1px solid #d14836!important}

.boton_azul{background:#4d90fe;color:#ddd;border:1px solid #3079ed}
.boton_azul:hover, .boton_azul:focus{background:#3f7ae8;color:#fff;border:1px solid #3f5bb7}
.boton_azul:disabled{background:#8BB2FF;color:#ccc;border:1px solid #8BB2FF}

#footer{width:100%;min-width:800px;height:30px;position:fixed;bottom:0;background:#f5f5f5;border-top:1px solid #e5e5e5;margin:auto;z-index:3}
#footer div{padding:6px}
#footer a{color:#383838}
#footer a:hover{color:#989898}

#error{font-size:12px;font-weight:bold;position:fixed;bottom:0;right:0;background:#f9edbe;border-left:1px solid #efe1ac;border-top:1px solid #efe1ac;border-radius:5px 0 0 0;padding:5px 10px;z-index:10}

#ayuda{background:url(../img/help_g.png) no-repeat;padding:2px}
#ayuda:hover, #ayuda:focus{background:url(../img/help_c.png) no-repeat}

/*Contenido*/
#overlay{position:fixed;width:100%;height:100%;top:0;left:0;background:url(../img/overlay.png);z-index:2}
#input_buscar{width:300px!important;padding:8px 10px!important;font-size:14px;margin:8px 5px}
.clear{clear:both}
.center{text-align:center}

.boton_naranja{background:#d14836;color:#ddd;border:1px solid #d14836}
.boton_naranja:hover, .boton_naranja:focus{background:#c93727;color:#fff;border:1px solid #b9281a}
.boton_naranja:disabled{background:#d14836;color:#ddd;border:1px solid #d14836}

.boton_gris{background:#f1f1f1;color:#666;border:1px solid #d1d1d1}
.boton_gris:hover, .boton_gris:focus{background:#fbfbfb;color:#222;border:1px solid #dbdbdb}
.boton_gris:disabled{background:#f5f5f5;color:#ccc;border:1px solid #d5d5d5}

.boton_verde{background:#3d9400;color:#fff;border:1px solid #29691d}
.boton_verde:hover, .boton_verde:focus{background:#398a00;color:#fff;border:1px solid #29691d}
.boton_verde:disabled{background:#3d9400;color:#fff;border:1px solid #29691d}

#nombre_user{color:#383838;font-size:12px;position:absolute;top:5px;left:8px}
#salir{color:#383838;font-size:12px;position:absolute;top:5px;right:8px}
#salir:hover{color:#c53727}
#info{width:1002px;overflow:auto;margin:auto}

/**/
.input_c{width:88%}
.input_l{width:96%}
.select_c{width:99%}
.select_l{width:100%}

#busqueda_beneficiario{width:1002px;margin:5px 0 0 0}
#busqueda_beneficiario div{float:left}
table tbody tr td{cursor:pointer}
.ver_beneficiario:hover, .ver_nota:hover, .ver_seguimiento:hover, .ver_psicosocial:hover, .cargar_generico:hover{font-weight:bold}

.mini_formulario{width:496px;background:#f5f5f5;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;border-radius:3px;margin:4px}
.mini_formulario form div{margin:4px;float:left}
.formulario{width:992px;background:#f5f5f5;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;border-radius:3px;margin:4px} 
.formulario form div{margin:4px;float:left}
.header_info{font-size:12px;font-weight:bold;padding:8px 0;text-align:center;background-color:#e5e5e5;border-bottom:1px solid #d5d5d5;border-top:1px solid #d5d5d5;width:100%!important;margin:0!important}
.subheader_info{font-size:12px;font-weight:bold;padding:8px 0;text-align:center;background-color:#f5f5f5;border-bottom:1px solid #d5d5d5;border-top:1px solid #d5d5d5;width:100%!important;margin:0!important}
.header_info a{color:#383838}
.header_info a:hover{color:#c53727}
.header_info label{font-weight:100}

.actualizar{background:url(../img/reload_g.png) no-repeat;padding:2px}
.actualizar:hover, .actualizar:focus{background:url(../img/reload_c.png) no-repeat}

.generico{background:url(../img/administrator_g.png) no-repeat;padding:2px}
.generico:hover, .generico:focus{background:url(../img/administrator_c.png) no-repeat}

#botones_l{position:fixed;bottom:25px;left:-4px;width:50%;color:#FFF;font-weight:bold;text-align:left;background:url(../img/overlay.png);padding:10px 0}
#botones_r{position:fixed;bottom:25px;right:-4px;width:50%;color:#FFF;font-weight:bold;text-align:right;background:url(../img/overlay.png);padding:10px 0} 

.header_diagnostico{font-size:10px;padding:8px 0;text-align:center;background-color:#e5e5e5;border:1px solid #d5d5d5;width:972px!important;margin:0!important}
.header_diagnostico label{font-size:12px;font-weight:bold}
.header_psicosocial{font-size:10px;padding:8px 0;text-align:left;background-color:#f5f5f5;border:1px solid #e5e5e5;width:972px!important;margin:0!important}

#generico, #diagnostico, #seguimiento, #psicosocial, #psicologia{position:absolute;top:-5px;width:992px;margin:25px 0;background:#fff;border:1px solid #d5d5d5;z-index:3}
#botones_diagnostico, #botones_seguimiento, #botones_psicosocial, #botones_psicologia{position:fixed;bottom:25px;right:-4px;width:100%;color:#FFF;font-weight:bold;text-align:right;background:url(../img/overlay.png);padding:10px 0}
#botones_generico{width:980px;text-align:right}

#actividades{position:absolute;top:-5px;width:992px;margin:25px 0;background:#fff;padding:20px 0;border:1px solid #d5d5d5;z-index:3}
#menu_actividades{position:fixed;top:0;width:992px;margin:0;padding:2px 0;text-align:center;height:30px;background:#e5e5e5;border-bottom:1px solid #d5d5d5} 
#menu_actividades a{padding:10px;color:#383838}
#menu_actividades a:hover, #menu_actividades a:focus{padding:10px;font-weight:bold;font-weight:bold;text-decoration:underline}
#botones_actividades{position:fixed;bottom:25px;right:-4px;width:100%;text-align:right;background:url(../img/overlay.png);padding:10px 0}

table tr th{padding:4px;height:16px}
#desc_actividades td{background:#FFFFFF}
#desc_actividades tr:hover{background:#EEE8AA}

#seleccion_multiple{background:#FA8072;border:1px solid #585858;padding:10px;text-align:center}

#actividad_escuela, .actividad_escuela{background:#3CB371;border:1px solid #585858}
#actividad_casa, .actividad_casa{background:#6495ED;border:1px solid #585858}
#actividad_pronino, .actividad_pronino{background:#EEE8AA;border:1px solid #585858}
#actividad_trabajando, .actividad_trabajando{background:#FA8072;border:1px solid #585858}
#actividad_jugando, .actividad_jugando{background:#D8BFD8;border:1px solid #585858}
#actividad_otras, .actividad_otras{background:#FFDEAD;border:1px solid #585858}
#actividad_quitar, .actividad_quitar{background:#FFFFFF;border:1px solid #585858}
.fin_semana, .periodo_v{color:#c53727}
.horario{background:#f5f5f5;border:1px solid #e5e5e5}
.insert{color:#15c}

.espacio{height:90px}
.mini_espacio{height:60px}

.mov{color:#97BF0D}
.new{color:#d14836}

.overview{background:#FFEC9D;padding:10px;width:90%;border:1px solid #CCCCCC;}
.originalTextareaInfo{font-size:12px;color:#000000;font-family:Tahoma, sans-serif;text-align:right}
.warningTextareaInfo{font-size:12px;color:#FF0000;font-family:Tahoma, sans-serif;text-align:right}